<% provide(:title, "Recipient Info") %>
<%= render '/transfers/progress_bar'  %>
<h1>Recipient Info</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(@recipient_info) do |f|%>
    <%= render 'shared/error_messages', obj: @recipient_info %>
	
	  <%= f.label :name %>
  	<%= f.text_field :name, class: 'form-control' %>
     
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>    

    <%= f.label(:iban, 'IBAN or Routing Number') %>
    <%= f.text_field :iban, class: 'form-control' %>

    <%= f.label(:bank_code, 'Bank code (BIC/SWIFT)') %>
    <%= f.text_field :bank_code, class: 'form-control' %>    

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>    

    <%= f.submit "Continue", class: "btn btn-primary"%>

  <% end %>
  </div>
</div>