<% provide(:title, @user.name) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <%= link_to "Create Transfer!", '/exchange_info', class: "btn btn-lg btn-primary" %>
    </aside>
    <div class="col-md-8">
      <div class= "container-fluid">
        
      
      <table class="table">
        <caption>Currencies based on USD 
            <div class="floatright">
              <%= DateTime.now %>
            </div>
          </caption>
        <thead>
          
          <tr>
            <th>US Dollar</th>
            <th>1.00 USD</th>
            <th>inv. 1.00 USD</th>
            <th>Percent Change</th>
          </tr>
        </thead>
        <tbody>
          <% @currencies.each do |currency| %>
            <tr>
              <td><%= currency.target_currency  %></td>
              <td><%= currency.convertion_from_base%></td>
              <td><%= currency.convertion_to_base%></td>
              <td class="percent_change">
                <%= currency.base+"/"+currency.target_currency%> &nbsp;
                <%= currency.percent_change%>%</td>
            </tr>
          <% end %>
        </tbody>
  </table>
    </div>
    </div>
  </div>
<% end %>