<% provide(:title, @user.name) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <%= link_to "Create Transfer!", '/exchange_info', class: "btn btn-lg btn-primary" %>
    </aside>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <caption>US</caption>
          <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @transfers.each do |transfer| %>
            <tr>
              <td><%= transfer.reference %></td>
              <td><%= transfer.user_id %></td>
              <td><%= transfer.status%></td>
            </tr>
          <% end %>
        </tbody>
  </table>
    </div>
  </div>
<% end %>