<% provide(:title, @user.name) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <%= link_to "Create Transfer!", '/exchange_info', class: "btn btn-lg btn-primary" %>
      <br>
      <br>

      <div class="panel panel-default">
        <div class="panel-heading">
        <b><center>Pending Transfers</center></b>
        </div>
        <% if @pending_transfers.any? %>
          <ul class="list-group">
            <%= render @pending_transfers %>
          </ul>
        <% else %>
          <ul class="list-group">
            <center>(None)</center>
          </ul>
        <% end %>
      </div>
        <%= link_to "View All Transfers", '/my_transfers'  %>
       
    </aside>
    <div class="col-md-8">
      <div class= "container-fluid">
      <table class="table">
        <caption>Currencies based on EUR 
            <div class="floatright">
              <%= DateTime.now %>
            </div>
          </caption>
        <thead>
          
          <tr>
            <th>EU Euro</th>
            <th>1.00 EUR</th>
            <th>inv. 1.00 EUR</th>
            <th>Percent Change</th>
          </tr>
        </thead>
        <tbody>
          <% @currencies.each do |currency| %>
            <tr>
              <td><%= currency.target_currency  %></td>
              <td><%= sprintf('%.006f',currency.convertion_from_base) %></td>
              <td><%= sprintf('%.006f',currency.convertion_to_base) %></td>
              <td>
                <%= currency.base+"/"+currency.target_currency%> &nbsp;&nbsp;
                <b class="percent_change">
                  <%if currency.percent_change > 0  %>
                    +
                  <% end %>
                  <%= sprintf('%.006f', currency.percent_change) %>
                 </b>%
              </td>
                
            </tr>
          <% end %>
        </tbody>
  </table>
    </div>
    </div>
  </div>
<% end %>