<% provide(:title, "Transfer Review") %>
<%= render '/transfers/progress_bar' %>

<div class="container" id="mypanel">
  <h3>Transfer Review</h3>
  
<div class="row">
	<div class="col-lg-6">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	    	Instructions:
	    </div>
	    <ul class="list-group">
	      <li class="list-group-item">1. Login to your internet bank.</li>
		  <li class="list-group-item">2. Make a transfer from a bank account to 
		  	<b>TransferSmart</b>
		  	 using details on the right.</li>
		  <li class="list-group-item">3. <b><%=@recipient_name%></b> receives <%=@exchange_info.currency_to  %>.</li>
	    </ul>
	  </div>
	  	<%= form_for(@transfer) do |f|  %>
	  	 <%= f.submit "I HAVE SENT THE MONEY", name: "submit", class: "btn btn-primary" %>
	  	<% end  %>
	  	
	    <center>or</center> 
	    <center><%= link_to " Transfer the money later ", current_user  %></center>
    </div>

	<div class="col-lg-6">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	    	Make the following transfer:
	    </div>
	    <ul class="list-group">
	      <li class="list-group-item">
	      	SENDER 
	      	<div class=floatright> <%= @sender %> </div>
	      </li>

		  <li class="list-group-item">
		  AMOUNT
		  <div class=floatright> <%= @amount %> </div>
		  </li>

		  <li class="list-group-item">
		  	TO
			<div class=floatright> TransferSmart </div>		  
		  </li>

		  <li class="list-group-item">
		  	ACCOUNT-TYPE
		  <div class=floatright> Savings-Account </div>		  
	      	
		  </li>
		  
		  <li class="list-group-item">
		  	ACCOUNT
		  	<div class=floatright> <%= @account  %> </div>		  
		  </li>

		  <li class="list-group-item">
		  	DESCRIPTION
		  	<div class=floatright> <%=@description  %> </div>		  
		  </li>

		  <li class="list-group-item">
		  OFFICE	
	      <div class=floatright> TransferSmartOffice </div>		  
		  </li>
	    </ul>
	  </div>
	  <center>
	  	Any problems? If any step is not clear enough <%= link_to " click here", "https://mifosforge.jira.com/wiki/spaces/docs/pages/73465980/How+to+Transfer+funds+from+a+Saving+Account"  %>
	  </center>
    </div>

</div>
  
</div>